@using Howest.MagicCards.Web.Pages
@inherits LayoutComponentBase

<PageTitle>Howest.MagicCards.Web</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
